@import "@/styles/colors.scss";

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-color: map-get($map: $schema, $key: color-secondary);
}